body {
    background-color: #ff00f23a;
}

header {
    display: flex;
    padding: 30px;
    justify-content: center;
    margin: 0px;
    border-radius: 40px;
    background-color: #8a2be2;
}

h1 {
    margin: 0px;
    color: #fff;
    font-family: 'Sofia';
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 50px;
}

#text {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 500px;
    font-family: 'Sofia';
    color: #ffe600;
}

p {
    text-align: justify;
}

h3 {
    text-align: center;
}

#box_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff004c7a;
    border-style: dotted;
    padding: 0px;
}

footer {
    margin-top: 30px;
}

footer div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-top: 5px dotted #8a2be2;
    border-bottom: 5px dotted #8a2be2;
}

table th {
    width: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    font-family: 'Sofia';
    color: #ff00bf;
}

table tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}